<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Unincorporated languages</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.13.1/inter.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <section class="main">
      <div class="m head">
        <h1 aria-label="Unincorporated Languages">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg
            width="70%"
            viewBox="0 0 735 128"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>Group</title>
            <g
              id="unincorporated-languages"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Artboard"
                transform="translate(-102.000000, -103.000000)"
                fill="#EFE2D7"
                fill-rule="nonzero"
              >
                <g id="Group" transform="translate(102.000000, 103.000000)">
                  <path
                    d="M260.730545,53.7044942 C273.673714,53.7044942 283.139614,47.6192728 284.97484,36.3181472 L290.383926,3.67045105 L277.054393,3.67045105 L271.741898,35.7386023 C271.162353,39.4090533 267.685084,41.9204146 262.662361,41.9204146 C257.73623,41.9204146 255.224868,39.4090533 255.804413,35.7386023 L261.116908,3.67045105 L247.690785,3.67045105 L242.281699,36.3181472 C240.446473,47.6192728 247.690785,53.7044942 260.730545,53.7044942 Z M298.509078,53.1249493 L301.986348,32.2613329 C302.59004,28.5908818 305.101401,26.369293 308.361342,26.369293 C311.766168,26.369293 313.311621,28.5908818 312.707928,32.2613329 L309.230659,53.1249493 L322.560192,53.1249493 L326.520415,29.4601992 C327.896834,21.3465706 323.743429,15.5511215 315.895425,15.5511215 C310.413896,15.5511215 305.584356,18.3522552 303.242028,23.0852053 L302.855665,23.0852053 L304.014755,16.0340756 L291.361358,16.0340756 L285.179545,53.1249493 L298.509078,53.1249493 Z M338.798968,12.1704429 C342.421123,12.1704429 345.801802,9.41760466 346.333052,6.08522147 C346.864301,2.70454288 344.401235,0 340.77908,0 C337.156924,0 333.776245,2.70454288 333.1967,6.08522147 C332.617156,9.41760466 335.176812,12.1704429 338.798968,12.1704429 Z M338.702377,53.1249493 L344.884189,16.0340756 L331.554657,16.0340756 L325.372844,53.1249493 L338.702377,53.1249493 Z M355.230903,53.1249493 L358.708172,32.2613329 C359.311865,28.5908818 361.823226,26.369293 365.083166,26.369293 C368.487993,26.369293 370.033446,28.5908818 369.429753,32.2613329 L365.952484,53.1249493 L379.282016,53.1249493 L383.24224,29.4601992 C384.618659,21.3465706 380.465254,15.5511215 372.61725,15.5511215 C367.135721,15.5511215 362.30618,18.3522552 359.963853,23.0852053 L359.57749,23.0852053 L360.73658,16.0340756 L348.083182,16.0340756 L341.90137,53.1249493 L355.230903,53.1249493 Z M399.867379,53.8010851 C410.878732,53.8010851 418.605998,47.522682 420.441223,37.6704186 L408.077599,37.6704186 C407.111691,41.5340513 404.69692,43.6590493 401.702605,43.6590493 C398.225335,43.6590493 396.486701,40.6647339 397.452609,34.5795125 C398.418517,28.494291 401.219651,25.4999757 404.793511,25.4999757 C407.691236,25.4999757 409.333279,27.6249737 409.043507,31.4886063 L421.407132,31.4886063 C422.952585,21.8295246 417.157136,15.5511215 406.242373,15.5511215 C394.168521,15.5511215 385.668529,23.2783869 383.833304,34.6761033 C381.901487,46.0738197 387.793527,53.8010851 399.867379,53.8010851 Z M437.452724,53.8010851 C449.526576,53.8010851 457.954124,46.0738197 459.861793,34.6761033 C461.721166,23.2783869 455.853274,15.5511215 443.827717,15.5511215 C431.70557,15.5511215 423.278021,23.2783869 421.418648,34.6761033 C419.510979,46.0738197 425.378871,53.8010851 437.452724,53.8010851 Z M439.094767,43.9488217 C435.59335,43.9488217 434.072045,40.3991092 435.037953,34.5795125 C435.979714,28.7599158 438.708404,25.2102032 442.185674,25.2102032 C445.662943,25.2102032 447.184248,28.7599158 446.242488,34.5795125 C445.27658,40.3991092 442.547889,43.9488217 439.094767,43.9488217 Z M471.850572,53.1249493 L475.038069,33.8067859 C475.834943,29.55679 479.119031,26.8522471 482.378971,26.8522471 C483.75539,26.8522471 484.91448,27.3352012 485.952831,27.8181553 L491.555099,16.903393 C490.226975,16.0340756 488.391749,15.5511215 486.532376,15.5511215 C482.49971,15.5511215 479.119031,17.8693011 476.873294,23.0852053 L476.486931,23.0852053 L477.646021,16.0340756 L464.702851,16.0340756 L458.521039,53.1249493 L471.850572,53.1249493 Z M497.072282,67.034027 L500.35637,47.0397279 L500.646142,47.0397279 C501.51546,50.8067697 504.606366,53.6079034 509.82227,53.6079034 C517.742717,53.6079034 525.469982,47.4260911 527.59498,34.5795125 C529.816569,21.1533889 523.634757,15.5511215 516.293855,15.5511215 C510.788178,15.5511215 506.731364,18.7386185 504.702957,22.5056604 L504.413184,22.5056604 L505.475683,16.0340756 L492.242749,16.0340756 L483.742749,67.034027 L497.072282,67.034027 Z M506.634773,43.3692768 C502.964322,43.3692768 501.322278,39.9885982 502.191595,34.5795125 C503.060913,29.0738359 505.862046,25.7897481 509.532497,25.7897481 C513.202948,25.7897481 514.748401,29.0738359 513.879084,34.5795125 C512.913176,40.085189 510.305224,43.3692768 506.634773,43.3692768 Z M544.22012,53.8010851 C556.293972,53.8010851 564.721521,46.0738197 566.629189,34.6761033 C568.488562,23.2783869 562.62067,15.5511215 550.595114,15.5511215 C538.472966,15.5511215 530.045417,23.2783869 528.186044,34.6761033 C526.278375,46.0738197 532.146268,53.8010851 544.22012,53.8010851 Z M545.862164,43.9488217 C542.360746,43.9488217 540.839441,40.3991092 541.805349,34.5795125 C542.74711,28.7599158 545.4758,25.2102032 548.95307,25.2102032 C552.430339,25.2102032 553.951645,28.7599158 553.009884,34.5795125 C552.043976,40.3991092 549.315285,43.9488217 545.862164,43.9488217 Z M578.617968,53.1249493 L581.805465,33.8067859 C582.602339,29.55679 585.886427,26.8522471 589.146367,26.8522471 C590.522786,26.8522471 591.681876,27.3352012 592.720227,27.8181553 L598.322495,16.903393 C596.994371,16.0340756 595.159146,15.5511215 593.299772,15.5511215 C589.267106,15.5511215 585.886427,17.8693011 583.640691,23.0852053 L583.254327,23.0852053 L584.413417,16.0340756 L571.470248,16.0340756 L565.288435,53.1249493 L578.617968,53.1249493 Z M601.328315,53.7044942 C606.157856,53.7044942 610.11808,52.0624503 613.015804,47.9090452 L613.305577,47.9090452 L612.436259,53.1249493 L624.896475,53.1249493 L629.146471,27.7215645 C630.30556,20.8636165 624.606702,15.5511215 614.078303,15.5511215 C602.970359,15.5511215 596.498774,21.3465706 594.953321,28.1079277 L607.220355,28.1079277 C607.896491,25.7897481 609.828307,24.7272491 612.339668,24.7272491 C614.657848,24.7272491 616.10671,25.7897481 615.816938,27.7215645 L615.816938,27.8181553 C615.430575,29.9431533 612.919213,30.619289 606.64081,31.1022431 C598.913545,31.681788 592.44196,34.7726941 591.089689,42.8863227 C589.834008,50.2272248 594.277186,53.7044942 601.328315,53.7044942 Z M607.123764,45.3010932 C604.805585,45.3010932 603.453313,44.1420034 603.743086,42.1135962 C604.032858,40.1817799 605.674902,38.7329176 608.862399,38.2499635 C610.987397,37.8636003 612.919213,37.477237 614.368076,36.8976921 L613.885121,39.9885982 C613.305577,43.3692768 610.11808,45.3010932 607.123764,45.3010932 Z M643.888085,53.6561988 C646.882401,53.5113126 649.20058,52.8834723 650.552852,52.497109 L650.166489,43.1277998 C649.586944,43.2243906 648.234672,43.514163 647.461946,43.514163 C645.723311,43.514163 645.071323,42.7414365 645.336948,41.1959834 L647.920752,25.6931573 L654.271598,25.6931573 L655.913642,16.0340756 L649.514501,16.0340756 L650.987511,7.14772046 L637.657978,7.14772046 L636.184968,16.0340756 L631.476166,16.0340756 L629.834122,25.6931573 L634.591219,25.6931573 L631.814233,42.4516641 C630.365371,50.1789294 634.518776,54.1150052 643.888085,53.6561988 Z M668.771724,53.8010851 C679.106941,53.8010851 686.447843,48.8749534 689.055795,41.147688 L676.885352,41.147688 C675.726263,43.272686 673.311492,44.4317758 670.606949,44.4317758 C666.646726,44.4317758 664.8115,41.8238238 665.391045,38.2499635 L665.511784,37.6704186 L689.63534,37.6704186 L690.118294,34.5795125 C692.050111,22.7954328 686.06148,15.5511215 674.856945,15.5511215 C663.362638,15.5511215 654.766055,23.1817961 652.834239,34.6761033 C650.805832,46.6533646 656.891053,53.8010851 668.771724,53.8010851 Z M678.527396,30.3295165 L666.888203,30.3295165 C667.636782,27.0695765 670.486211,24.9204308 673.697855,24.9204308 C676.981943,24.9204308 679.01035,27.1420196 678.527396,30.3295165 Z M702.155368,53.6079034 C707.347124,53.6079034 711.379791,50.8067697 713.553084,47.0397279 L713.842856,47.0397279 L712.828653,53.1249493 L726.061595,53.1249493 L734.271814,3.67045105 L720.942281,3.67045105 L717.80308,22.5056604 L717.609898,22.5056604 C716.788876,18.7386185 713.842856,15.5511215 708.33718,15.5511215 C700.996278,15.5511215 692.930945,21.1533889 690.709356,34.5795125 C688.584358,47.4260911 694.210773,53.6079034 702.155368,53.6079034 Z M708.771838,43.3692768 C705.07724,43.3692768 703.507639,40.085189 704.425252,34.5795125 C705.318717,29.0738359 707.999112,25.7897481 711.669563,25.7897481 C715.340014,25.7897481 717.006206,29.0738359 716.112741,34.5795125 C715.219276,39.9885982 712.418142,43.3692768 708.771838,43.3692768 Z M274.34985,113.124949 L274.34985,107.812454 L251.361236,107.812454 L251.361236,63.670451 L245.372605,63.670451 L245.372605,113.124949 L274.34985,113.124949 Z M290.105667,113.994267 C296.577252,113.994267 299.95793,110.516997 301.11702,108.102227 L301.406792,108.102227 L301.406792,113.124949 L307.105651,113.124949 L307.105651,88.6874726 C307.105651,76.903393 298.122705,75.5511215 293.389755,75.5511215 C287.787487,75.5511215 281.412493,77.4829379 278.514769,84.2442951 L283.923855,86.1761114 C285.179535,83.4715685 288.149703,80.573844 293.582936,80.573844 C298.822988,80.573844 301.406792,83.35083 301.406792,88.1079277 L301.406792,88.3011094 C301.406792,91.0539477 298.605659,90.8124706 291.844302,91.681788 C284.962206,92.575253 277.45227,94.0965584 277.45227,102.59655 C277.45227,109.840862 283.054537,113.994267 290.105667,113.994267 Z M290.974984,108.874953 C286.435216,108.874953 283.151128,106.846546 283.151128,102.886323 C283.151128,98.539736 287.111351,97.1874645 291.554529,96.6079196 C293.969299,96.3181472 300.440884,95.6420115 301.406792,94.4829217 L301.406792,99.6988258 C301.406792,104.335185 297.736341,108.874953 290.974984,108.874953 Z M319.57738,113.124949 L319.57738,90.8124706 C319.57738,84.3408859 323.585899,80.6704348 329.04328,80.6704348 C334.331627,80.6704348 337.543272,84.1235565 337.543272,89.9431533 L337.543272,113.124949 L343.24213,113.124949 L343.24213,89.55679 C343.24213,80.0908899 338.19526,75.5511215 330.685324,75.5511215 C325.083056,75.5511215 321.605787,78.0624828 319.867152,81.8295246 L319.384198,81.8295246 L319.384198,76.0340756 L313.878521,76.0340756 L313.878521,113.124949 L319.57738,113.124949 Z M364.986579,127.806754 C373.872934,127.806754 381.020654,123.749939 381.020654,114.187448 L381.020654,76.0340756 L375.514978,76.0340756 L375.514978,81.9261155 L374.935433,81.9261155 C373.679752,79.9942991 371.361573,75.5511215 364.117261,75.5511215 C354.747952,75.5511215 348.276367,82.9886144 348.276367,94.3863308 C348.276367,105.977229 355.037724,112.545404 364.02067,112.545404 C371.264982,112.545404 373.583161,108.295408 374.838842,106.267001 L375.321796,106.267001 L375.321796,113.801085 C375.321796,119.982897 370.975209,122.784031 364.986579,122.784031 C358.249369,122.784031 355.882894,119.234319 354.361589,117.181764 L349.82182,120.369261 C352.14,124.257041 356.703916,127.806754 364.986579,127.806754 Z M364.793397,107.426091 C357.645676,107.426091 353.975225,102.017005 353.975225,94.28974 C353.975225,86.7556563 357.549086,80.6704348 364.793397,80.6704348 C371.747936,80.6704348 375.418387,86.2727022 375.418387,94.28974 C375.418387,102.499959 371.651345,107.426091 364.793397,107.426091 Z M399.770789,113.607903 C405.373057,113.607903 409.043508,110.613588 410.782142,106.846546 L411.168506,106.846546 L411.168506,113.124949 L416.867364,113.124949 L416.867364,76.0340756 L411.168506,76.0340756 L411.168506,97.9601911 C411.168506,104.91473 405.856011,108.102227 401.606015,108.102227 C396.873065,108.102227 393.492386,104.624957 393.492386,99.2158717 L393.492386,76.0340756 L387.793528,76.0340756 L387.793528,99.602235 C387.793528,109.068135 392.81625,113.607903 399.770789,113.607903 Z M434.554998,113.994267 C441.026583,113.994267 444.407261,110.516997 445.566351,108.102227 L445.856124,108.102227 L445.856124,113.124949 L451.554982,113.124949 L451.554982,88.6874726 C451.554982,76.903393 442.572036,75.5511215 437.839086,75.5511215 C432.236818,75.5511215 425.861825,77.4829379 422.9641,84.2442951 L428.373186,86.1761114 C429.628866,83.4715685 432.599034,80.573844 438.032267,80.573844 C443.272319,80.573844 445.856124,83.35083 445.856124,88.1079277 L445.856124,88.3011094 C445.856124,91.0539477 443.05499,90.8124706 436.293633,91.681788 L435.749153,91.7537448 C429.021478,92.6601546 421.901601,94.3202424 421.901601,102.59655 C421.901601,109.840862 427.503868,113.994267 434.554998,113.994267 Z M435.424315,108.874953 C430.884547,108.874953 427.600459,106.846546 427.600459,102.886323 C427.600459,98.539736 431.560683,97.1874645 436.00386,96.6079196 C438.418631,96.3181472 444.890216,95.6420115 445.856124,94.4829217 L445.856124,99.6988258 C445.856124,104.335185 442.185673,108.874953 435.424315,108.874953 Z M473.299429,127.806754 C482.185784,127.806754 489.333505,123.749939 489.333505,114.187448 L489.333505,76.0340756 L483.827828,76.0340756 L483.827828,81.9261155 L483.248283,81.9261155 C481.992603,79.9942991 479.674423,75.5511215 472.430112,75.5511215 C463.060803,75.5511215 456.589218,82.9886144 456.589218,94.3863308 C456.589218,105.977229 463.350575,112.545404 472.333521,112.545404 C479.577832,112.545404 481.896012,108.295408 483.151693,106.267001 L483.634647,106.267001 L483.634647,113.801085 C483.634647,119.982897 479.28806,122.784031 473.299429,122.784031 C466.56222,122.784031 464.195745,119.234319 462.674439,117.181764 L458.134671,120.369261 C460.452851,124.257041 465.016767,127.806754 473.299429,127.806754 Z M473.106248,107.426091 C465.958527,107.426091 462.288076,102.017005 462.288076,94.28974 C462.288076,86.7556563 465.861936,80.6704348 473.106248,80.6704348 C480.060786,80.6704348 483.731238,86.2727022 483.731238,94.28974 C483.731238,102.499959 479.964196,107.426091 473.106248,107.426091 Z M511.6575,113.897676 C519.191584,113.897676 524.697261,110.130634 526.435895,104.528367 L520.930219,102.982914 C519.481356,106.846546 516.124825,108.778363 511.6575,108.778363 C504.968586,108.778363 500.356375,104.455924 500.09075,96.5113288 L527.01544,96.5113288 L527.01544,94.0965584 C527.01544,80.2840716 518.805221,75.5511215 511.077955,75.5511215 C501.03251,75.5511215 494.367744,83.4715685 494.367744,94.8692849 C494.367744,106.267001 500.93592,113.897676 511.6575,113.897676 Z M521.219991,91.5851972 L500.09075,91.5851972 C500.477113,85.8138958 504.558075,80.6704348 511.077955,80.6704348 C517.259768,80.6704348 521.219991,85.306794 521.219991,91.5851972 Z M544.509893,113.897676 C553.130623,113.897676 558.998515,109.188874 558.998515,102.789732 C558.998515,97.6221232 555.762723,94.3621831 549.146252,92.744287 L543.640575,91.3920155 C539.245693,90.3053688 537.265582,88.8323589 537.265582,85.9829298 C537.265582,82.7954328 540.64626,80.4772532 545.186029,80.4772532 C550.160456,80.4772532 552.21301,83.2300915 553.203066,85.7897481 L558.32238,84.3408859 C556.53545,79.0766864 552.526931,75.5511215 545.186029,75.5511215 C537.362172,75.5511215 531.566723,79.9942991 531.566723,86.2727022 C531.566723,91.3920155 534.609334,94.8209895 541.418987,96.414738 L547.600799,97.8636003 C551.343693,98.7329176 553.106476,100.519848 553.106476,103.079504 C553.106476,106.267001 549.725797,108.874953 544.413302,108.874953 C539.752795,108.874953 536.830923,106.870694 535.816719,102.886323 L530.407634,104.238594 C531.735757,110.541145 536.927514,113.897676 544.509893,113.897676 Z"
                    id="UnincorporatedLanguages"
                  ></path>
                  <path
                    d="M45.6805492,122 C77.2466939,122 100.332382,107.162162 104.808178,79.6061776 L118,0 L85.4915824,0 L72.535329,78.1930502 C71.1219195,87.1428571 62.6414628,93.2664093 50.3919141,93.2664093 C38.3779337,93.2664093 32.2531593,87.1428571 33.6665688,78.1930502 L46.6228222,0 L13.8788364,0 L0.687014714,79.6061776 C-3.78878191,107.162162 13.8788364,122 45.6805492,122 Z M196,121 L196,111.074219 L138.933792,111.074219 L138.933792,0 L128,0 L128,121 L196,121 Z"
                    id="UL"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </h1>
      </div>
      <div class="m content">
        <p>
          Unincorporated Languages are a collection of esoteric and generally unusable programming languages.
        </p>
      </div>

      <div class="m languages">
        <h3>Our Languages:</h3>
        {%for l in languages %}
        <div class="langs-container">
          <a href="{{ l.link }}">
            <div class="language">
              <div class="top accent-{{ l.bgHueDivTen }}">
                <div class="image">
                  <img src="./img/{{ l.image }}.svg" alt="" />
                </div>
              </div>
              <div class="bottom">
                {{ l.name }} <span class="arrow">→</span>
              </div>
            </div>
          </a>
        </div>
        {%endfor%}
      </div>
      <div class="m next">
        <div class="coming-soon">
          <div class="text">new languages coming soon...</div>
        </div>
      </div>
      <!--<div class="m suggestions">
	<h3>Language suggestions:</h3>
	<script src="https://utteranc.es/client.js"
			repo="ehne/unincorporated-languages"
			issue-number="1"
			theme="photon-dark"
			crossorigin="anonymous"
			async>
	</script>
	</div>-->
</section>
<footer class="footer">
  made by <a href="https://darcylf.me">darcylf</a> in 2020
</footer>
    <div class="flag">
      <div class="accent-35"></div>
      <div class="accent-3"></div>
      <div class="accent-6"></div>
      <div class="accent-12"></div>
      <div class="accent-21"></div>
      <div class="accent-27"></div>
	  </div>
    
    <!-- partial -->
  </body>
</html>
